<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <link rel="stylesheet" href="fontawesome-free-5.11.2-web/css/all.css">
    <title>Document</title>
    <link rel="stylesheet" href="style.css">
</head>

<body>

    <header>
        <div id="menu" class="navbar">
            <div><a class="lien" href="index.php#">Accueil</a></div>
            <div><a class="lien" href="index.php#">Liste des produits</a></div>
            <div><a class="lien" href="index.php#">Liste des membres</a></div>
            <div><a class="lien" href="membre.html">Se connecter</a></div>
            <div><a class="lien" href="index.php#">Nom</a></div>>
        </div>

        <div id="meme">
            <a onclick="myFunction()" href="javascript:void(0)"><i id="toggle" class="fas fa-bars fa-4x"></i></a>
            <div id="menu2" class="navbar2">
                <div><a class="lien" href="index.php#">Accueil</a></div>
                <div><a class="lien" href="index.php#">Liste des produits</a></div>
                <div><a class="lien" href="index.php#">Liste des membres</a></div>
                <div><a class="lien" href="membre.html">Se connecter</a></div>
                <div><a class="lien" href="index.php#">Nom</a></div>
            </div>
        </div>
        <div id="image_menu"><img id="img_aff" src="image.jpg" alt="Titre">
            <h1 id="titre">Sales Back</h1>

            <button id="inscription"><a href="inscription.php">Inscription</a></button>
        </div>

    </header>

    <h3>Formulaire de connexion</h3>
    <p>Page pour ce connecter à son espace membre</p>
    <form action="connexion.php" method="post">
        <p>
            <label>Votre Pseudo : <input type="text" size="20" name="pseudo" minlength="8" maxlength="40"></label>
        </p>
        <p><label>Votre mot de passe : <input type="password" size="20" name="password" minlength="8"
                    maxlength="250"></label>
        </p>
        <input type="submit" name="submit" value="Valider">
    </form>
    <button><a href="index.php">Annuler</a></button>
    <footer>
        <p>Infos générales</p>
        <ul>
            <li><a class="lien" href="infog.html">Informations légales sur l’entreprise</a></li>
            <li><a class="lien" href="formulaire.html">Contact</a></li>
            <li><a class="lien" href="gestion.html">Informations sur la politique de gestion des données</a></li>
        </ul>
    </footer>
    <script src="add.js"></script>
</body>