body {
    background-color: rgb(85, 247, 179);
}

header {
    position: -webkit-sticky;
    position: sticky;
    top: 2px;
}

#toggle {
    display: none;
}

#menu {
    padding-left: 2%;
    padding-right: 2%;
    /* création d'un menu flex qui s'adapte à la taille de l'écran */
    display: flex;
    flex-wrap: wrap;
    /* Les éléments sont répartis équitablement
     Le bord du premier est aligné sur le 
    début du conteneur et la fin du dernier
    est alignée sur la fin du conteneur */
    justify-content: space-between;
    list-style: none;
    text-align: center;
    color: black;
    background-color: white;
    opacity: 30%;
    text-align: center;
    font-size: x-large;

    z-index: 4;
    transition-duration: 500ms;
}

#menu:hover {
    opacity: 100%;
    color: antiquewhite;
}

#prof {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    text-transform: uppercase;
}

@media only screen and (max-width: 640px) {
    #menu {
        display: none;
    }

    #toggle {
        display: block;
        color: black;
    }

    #img_aff {
        display: none;
    }
}

.navbar2 {
    display: none;
}

.toto {
    display: block;
    padding-left: 2%;
    padding-right: 2%;
    /* création d'un menu flex qui s'adapte à la taille de l'écran */
    /* display: flex;
    flex-wrap: wrap; */
    /* Les éléments sont répartis équitablement
     Le bord du premier est aligné sur le 
    début du conteneur et la fin du dernier
    est alignée sur la fin du conteneur */
    list-style: none;
    text-align: center;
    color: black;
    background-color: white;
    text-align: center;
    font-size: x-large;
    z-index: 4;
    transition-duration: 500ms;
}

.lien,
.lien:link,
.lien:visited {
    text-decoration: none;
    color: black;
    list-style-type: none;
}

#img_aff {
    width: 10%;
}

#image_menu,
#info_p {
    display: flex;
    justify-content: space-between;
    margin: auto;
}

#info_p {
    flex-direction: column;
}

#message {
    width: 50%;
    height: 200px;
}

#poupée,
#jeux_video,
#voiture {
    display: flex;
}